@charset "UTF-8";
/*------------------------------------*\
    FORM-DEFAULTS.SCSS
\*------------------------------------*/
//
// Default settings for form elements
//

input.placeholder, textarea.placeholder { color: #d0d0d0; }
::-webkit-input-placeholder { color: #d0d0d0; }
input:-moz-placeholder, textarea:-moz-placeholder { color: #d0d0d0; }
