<div class="chiro-calendar" ng-if="calendar.events.length>0">
    <h2>Opkomende activiteiten</h2>
    <ul class="chiro-calendar__panel">
        <li class="chiro-calendar__calendar-item" ng-repeat="event in calendar.events">
            <h3>{{event.organizer.displayName}} : {{event.summary}}</h3>
            <img ng-src="{{event.image}}" alt="logo" ng-if="event.image"/>
            <div class="chiro-calendar__description">
                {{event.description}}
                <div>
                    <span ng-if="event.location">{{event.location}}</span>
                </div>
            </div>
            <div>
                <span ng-if="event.start.date">{{event.start.date.value | date : 'dd/MM/yyyy'}}</span>
                <span ng-if="event.start.dateTime">Van: {{event.start.dateTime.value | date : 'dd/MM/yyyy HH:mm'}}</span>
                <span ng-if="event.start.dateTime">Tot: {{event.end.dateTime.value | date : 'dd/MM/yyyy HH:mm'}}</span>
            </div>
        </li>
    </ul>
</div>