<section id="verhuur">
    <div class="container chiro-rent">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Verhuur Lokalen</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="general-info col-lg-6">
                <h4>Capaciteit</h4>
                Maximum 40 personen
                <h4>Prijs</h4>
                De vaste kosten zijn vastgelegd op 125 EURO tot 20 personen. Vanaf 21 personen tot maximaal 40
                personen bedragen de vaste kosten 200 euro. Het verbruik van gas en elektriciteit wordt berekend
                door middel van de meterstanden.
                Het contract vindt u <a href="http://chiroelzestraat.be/chirojongens/uploads/Huurcontract%20Chiro%20Elzestraat%202015-2016.pdf">hier</a>.
                <h4>Waarborg</h4>
                De waarborg van 150 euro wordt ten laatste twee weken op voorhand betaald op rekeningnummer BE16 3631 3876 1974
                Indien de huurder het weekend annuleert tot een termijn van 1 week op voorhand, wordt de waarborg
                teruggestort aan de huurder. Gebeurt de opzegging later dan wordt de waarborg niet teruggestort.
                <h4>Infrastructuur</h4>
                <ul>
                    <li>1 groot heem</li>
                    <li>4 kleine hemen</li>
                    <li>volledig uitgeruste keuken (bestek, borden en kookpotten e.d.)</li>
                    <li>GEEN bedden</li>
                    <li>sanitair vermogen &amp; douche</li>
                </ul>
                <h4>Omgeving</h4>
                <ul>
                    <li>Zwembad</li>
                    <li>Park, basketpleintje</li>
                    <li>Jeugdhuis</li>
                    <li>Bakker, frietkot, kruidenier</li>
                    <li>Colruyt (5 minuten met wagen)</li>
                </ul>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="capacity col-lg-12">
                        <div>
                            <h4>Beschikbaarheid Lokalen</h4>
                            <datepicker ng-model="dateModel" class="ui-datepicker" min-date="rent.minDate" no-wrap="1" starting-day="1" show-weeks="false" custom-class="getDayClass(date, mode)"></datepicker>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <ul class="bxslider">
                            <li><img src="images/Verhuur/original/01010003.JPG" alt="Groot Heem"/></li>
                            <li><img src="images/Verhuur/original/01010004.JPG" alt="Keuken (1)"/></li>
                            <li><img src="images/Verhuur/original/01010006.JPG" alt="Keuken (2)"/></li>
                            <li><img src="images/Verhuur/original/01010010.JPG" alt="Koer"/></li>
                            <li><img src="images/Verhuur/original/01010013.JPG" alt="WC + Sanitair"/></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>