<?xml version="1.0" encoding="UTF-8"?>

<databaseChangeLog
        xmlns="http://www.liquibase.org/xml/ns/dbchangelog"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.liquibase.org/xml/ns/dbchangelog
         http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-3.1.xsd">

    <changeSet id="add type column to events" author="svl">
        <createTable tableName="event_type">
            <column name="id" type="int"/>
            <column name="name" type="varchar(255)"/>
        </createTable>
        <addPrimaryKey columnNames="id"
                       tableName="event_type"/>
        <addAutoIncrement columnDataType="int"
                          columnName="id"
                          tableName="event_type"/>
        <addColumn tableName="event">
            <column name="eventtype" type="int"/>
        </addColumn>
        <addForeignKeyConstraint baseColumnNames="eventtype"
                                 baseTableName="event"
                                 constraintName="fk_event_eventtype"
                                 onDelete="CASCADE"
                                 onUpdate="RESTRICT"
                                 referencedColumnNames="id"
                                 referencedTableName="event_type"/>
    </changeSet>

    <changeSet id="add event types" author="svl">
        <insert tableName="event_type"><column name="name" value="Chirojaar"/></insert>
        <insert tableName="event_type"><column name="name" value="Kamp"/></insert>
        <insert tableName="event_type"><column name="name" value="Feest"/></insert>
        <insert tableName="event_type"><column name="name" value="Ander"/></insert>
    </changeSet>

</databaseChangeLog>