@charset "UTF-8";
/*------------------------------------*\
    APPLICATION.SCSS
\*------------------------------------*/
/**
 *
 * sass --watch --sourcemap style.scss:style.min.css --style compressed
 *
 * Here we import everything and place any application generic css
 */

@import "base-imports";

@import "../modules/video";
@import "../modules/slider";
@import "../modules/tweets";
@import "../modules/calendar";
@import "../modules/program";

@import "../non-modular/global";
@import "../non-modular/groups";
@import "../non-modular/navigation";

@import "../vendor/font-awesome-4.3.0/scss/font-awesome";

@import '../vendor/jquery-tweet/jquery-tweet';
@import '../vendor/jquery.minifbalbum';

.container-fluid{
  padding:0;
  header h2{
    color: white;
  } section h2{
    margin-top: 1em;
      }
}