@charset "UTF-8";
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* apply a natural box layout model to all elements */


  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    @include respond-to("ie7") {
      behavior: url(s-src/polyfills/boxsizing.htc);
    }
  }

  html,
  button,
  input,
  select,
  textarea {
    color: #222;
  }

  select {
    @include respond-to("lt-ie9") {
      //
      // http://stackoverflow.com/questions/5551288/ies-select-boxes-closes-themselves-when-hovering
      //color MUST be black or IE7 AND 8 will not allow you to select anything
      //
      color: #000 !important;
    }
  }

  label {
    font-weight: normal;
    word-wrap: break-word;
  }

  input[readonly] {
    cursor: not-allowed;
  }

  html {
    font-size: 1em;
    line-height: 1.5;
  }

  /*
   * Remove text-shadow in selection highlight: h5bp.com/i
   * These selection rule sets have to be separate.
   * Customize the background color to match your design.
   */

  ::-moz-selection {
    background: transparent;
    text-shadow: none;
  }

  ::selection {
    background: #323232;
    color: #fff;
    text-shadow: none;
  }

  /*
   * A better looking default horizontal rule
   */

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }

  /*
   * Remove the gap between images, videos, audio and canvas and the bottom of
   * their containers: h5bp.com/i/440
   */

  audio,
  canvas,
  img,
  video {
    vertical-align: middle;
  }

  /*
   * Remove default fieldset styles.
   */

  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }

  /*
   * Allow only vertical resizing of textareas.
   */

  textarea {
    resize: vertical;
  }


  //
  // responsive images
  //

  img {
    max-width: 100%;
    height: auto;
  }

  ul, li {
    list-style-type: none;
  }
