<div class="container view-container">
	<div class="row-fluid">
		<div class="span3">
			<!--Sidebar content-->
			<form class="margin1">
				<fieldset>
					<input type="text" id="searchInput" ng-model="query" placeholder="Zoek op naam">
					<label for="sortInput">Sorteer op:</label>
					<select id="sortInput" class="form-control" ng-model="orderProp">
						<option value="name">Alfabetisch op naam</option>
						<option value="start">Chronologisch oplopend</option>
					</select>
                    <button ng-click="create()" class="btn btn-block btn-primary" type="button" >
                        Aanmaken
                    </button>
				</fieldset>
			</form>
		</div>
		<div class="span9">
			<!--Body content-->

			<ul class="events">
				<li ng-repeat="event in events | filter:query | orderBy:orderProp"
				class="event media">
					<a class="pull-left" href="#/events/{{event.id}}"> 
						<img class="media-object" style="width: 100px; height: 100px;" ng-src="{{staticServer + 'thumbs' + event.photos[0].directory}}">
					</a>
					<div class="media-body">
						<h4 class="media-heading">{{event.name}}</h4>
						<p>
							<em>Start:</em> {{event.start | date:'dd/MM/yyyy'}}
							<br/>
							<em>Einde:</em> {{event.end | date:'dd/MM/yyyy'}}
						</p>
					</div>
				</li>
			</ul>

		</div>
	</div>
</div>