<div class="container view-container" ng-controller="EventDetailCtrl">
	<form class="form-horizontal">
		<div class="control-group">
			<label for="eventName" class="control-label">Naam</label>
			<div class="controls">
				<input type="text" id="eventName" ng-model="event.name" class="form-control"/>
			</div>
		</div>
		<div class="control-group">
			<label for="eventStart" class="control-label">Startdatum</label>
			<div class="controls">
                <input type="text" id="eventStart" ng-init="localScopeDateStart = event.start" ng-model="localScopeDateStart" mo-change-proxy="event.start" mo-date-input="{{dateFormat}}" class="datepicker"/>
			</div>
		</div>
		<div class="control-group">
			<label for="eventEnd" class="control-label">Einddatum</label>
			<div class="controls">
				<input type="text" id="eventEnd" ng-init="localScopeDate = event.end" ng-model="localScopeDate" mo-change-proxy="event.end" mo-date-input="{{dateFormat}}" class="datepicker"/>
			</div>
		</div>
        <div class="control-group">
            <label for="description" class="control-label">Beschrijving</label>
            <div class="controls">
                <textarea id="description" rows="3" ng-model="event.description"></textarea>
            </div>
        </div>
        <div class="control-group">
            <label for="eventtype" class="control-label">Type evenement</label>
            <div class="controls">
                <select id="eventtype" ng-model="event.eventtype">
                    <option value="1">Chirojaren</option>
                    <option value="2">Kampen</option>
                    <option value="3">Feest</option>
                    <option value="4">Andere</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <button ng-click="save()" class="btn btn-primary btn-block" type="button">
                Opslaan
            </button>
            <button ng-click="delete()" class="btn btn-block btn-danger" type="button">
                Verwijderen
            </button>
         </div>
	</form>

	<div class="navigation-container">
		<div class="pageSelect">
			<div class="pagination pagination-large pagination-centered">
				<ul>
					<li ng-click="page=1" class="navigation glyphicon glyphicon-backward"></li>
					<li ng-click="decreasePage()" class="navigation glyphicon glyphicon-chevron-left"></li>
					<li ng-repeat="n in [] | range:maxPage" class="navigation pageNumber" ng-click="changePage(n)" ng-class="{selected: n==(page-1)}">
						{{n+1}}
					</li>
					<li ng-click="incrementPage()" class="navigation glyphicon glyphicon-chevron-right"></li>
					<li ng-click="page=maxPage" class="navigation glyphicon glyphicon-forward"></li>			</ul>
			</div>
		</div>

		<form class="form-inline select-page-form">
			<div class="input-prepend">
				<span class="add-on">Aantal rijen: </span>
				<input type="number" ng-model="rows" ng-change="newNumberRows()" id="numberRows" placeholder="Aantal rijen" class="form-control span1"/>
			</div>
		</form>
	</div>

	<div id="spinner-container"></div>

	<table class="photos table">
		<tr ng-repeat="photoRow in photos | pagination:page:rows">
			<td ng-repeat="photo in photoRow"><img ng-click="open(photo)" ng-class="{active: photo.live==1, inactive: photo.live==0}" ng-src="{{staticServer + 'thumbs' + photo.directory}}" title="{{photo.title}}"/></td>
		</tr>
	</table>
</div>