.chiro-calendar{
  margin: 0 4em;
  .bx-viewport{
    height: 100% !important;
  }
  .bx-wrapper .bx-pager.bx-default-pager a.active{
    background: $header-blue;
  }
  .bx-wrapper .bx-pager.bx-default-pager a{
    background: white;
    border: solid 1px black;
  }
}

.chiro-calendar__panel{
  color: black;
}

.chiro-calendar__description{
  padding: 1em 6em;
  text-align: left;
}