<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Chirojongens Elzestraat</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="bower_components/startbootstrap-freelancer-1.0.3/css/freelancer.css" rel="stylesheet"/>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="bower_components/social-feed/css/jquery.socialfeed.css" rel="stylesheet" type="text/css">
    <link href="js/lib/jquery-bxslider/jquery.bxslider.css" rel="stylesheet" type="text/css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="css/stylesheet.css?version=1" rel="stylesheet"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-app="app" ng-controller="HomeController">
<div class="pagewrapper container-fluid" id="page-top" >
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavigationController">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand chiro--home__heading" href="#/" ng-click="setCurrentPage('home')" ng-class="{active:currentPage=='home'}">Chirojongens Elzestraat</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="page-scroll" ng-class="{active:currentPage=='groups'}"><a href='#groepen' ng-click="setCurrentPage('groups')" >Groepen</a></li>
                    <!--<li class="page-scroll" ng-class="{active:currentPage=='photos'}"><a href='#fotos' ng-click="setCurrentPage('photos')" >Foto's</a></li>-->
                    <li class="page-scroll" ng-class="{active:currentPage=='program'}"><a href='#program' ng-click="setCurrentPage('program')" >'t Program</a></li>
                    <li class="page-scroll" ng-class="{active:currentPage=='rental'}"><a href='#verhuur' ng-click="setCurrentPage('rental')" >Verhuur</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div ng-view onload="viewLoaded()"></div>

</div>

<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>Locatie</h3>

                    <p>Clemenceaustraat 111 (achter de kerk)<br>2860 Sint-Katelijne-Waver</p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Social media</h3>
                    <ul class="list-inline">
                        <a href="https://www.facebook.com/pages/Chirojongens-Elzestraat/234251636629703" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/ChiroElzestraat/" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="mailto:info@chiroelzestraat.be" class="btn-social btn-outline"><i
                                    class="fa fa-fw fa-envelope-o"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Chirojongens Elzestraat</h3>

                    <p>Elke zondag tussen 14u en 17u</p>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="footer-below">-->
    <!--Copyright &copy; <?php echo date('Y'); ?>-->
    <!--</div>-->
</footer>

<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="bower_components/angular-i18n/angular-locale_nl-be.js"></script>
<script type="text/javascript" src="bower_components/doT/doT.min.js"></script>
<script type="text/javascript" src="bower_components/social-feed/js/jquery.socialfeed.js"></script>
<script type="text/javascript" src="bower_components/codebird-js/codebird.js"></script>
<script type="text/javascript" src="js/lib/ui-bootstrap/ui-bootstrap-custom-tpls-0.13.0.min.js"></script>
<script type="text/javascript" src="js/lib/jquery-bxslider/jquery.bxslider.min.js"></script>

<script type="text/javascript" src="js/lib/jquery-easing/jquery.easing.min.js"></script>
<script type="text/javascript" src="bower_components/startbootstrap-freelancer-1.0.3/js/classie.js"></script>
<script type="text/javascript" src="bower_components/startbootstrap-freelancer-1.0.3/js/cbpAnimatedHeader.js"></script>
<script type="text/javascript" src="bower_components/startbootstrap-freelancer-1.0.3/js/freelancer.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/controllers/home.js"></script>
<script type="text/javascript" src="js/controllers/groups.js"></script>
<script type="text/javascript" src="js/controllers/navigation.js"></script>
<script type="text/javascript" src="js/controllers/rent.js"></script>
<script type="text/javascript" src="js/controllers/program.js"></script>
<script type="text/javascript" src="js/services/calendar.js"></script>
<script type="text/javascript" src="js/services/twitterservice.js"></script>
<script type="text/javascript" src="js/services/groups.js"></script>
<script type="text/javascript" src="js/directives/eventSlider.js"></script>
<script type="text/javascript" src="js/directives/pdfSlider.js"></script>

<script type="text/javascript" src="js/lib/moment-js/momentjs.min.js"></script>
<script type="text/javascript" src="js/lib/moment-js/locale-nl.js"></script>
<script type="text/javascript" src="js/lib/turnjs4/lib/turn.min.js"></script>

<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-30791822-1']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

</script>
</body>
</html>
