
 
	        <div data-role="header">
	            <h1>Archief</h1>
	        </div><!-- /header -->
	 
	        <div data-role="content">
	           {echo $template}
	        </div><!-- /content -->
	 		
	        <div data-role="footer" data-position="fixed">
	        	<div data-role="navbar" data-iconpos="bottom">
					<ul>
						<li><a href="/Chiro/archief/backend/public/photos/index.html" data-icon="delete">Photos</a></li>
						<li><a href="/Chiro/archief/backend/public/events/index.html" data-icon="delete">Events</a></li>
						<li><a href="#" data-icon="delete">Stories</a></li>
					</ul>
				</div>
	        </div><!-- /footer -->
 
    	</div><!-- /page -->
        
    </body>
</html>