<!DOCTYPE html>
<html>
    <head>
        <title>Archief - Chirojongens Elzestraat</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
	    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css">
	    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/mobile/latest/jquery.mobile.min.css" />
		<link rel="stylesheet" type="text/css" href="http://dev.jtsage.com/cdn/datebox/latest/jqm-datebox.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/events.css"/> 
		
	    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	    <script type="text/javascript" src="http://code.jquery.com/mobile/latest/jquery.mobile.min.js"></script>
  		<script type="text/javascript" src="http://dev.jtsage.com/cdn/datebox/latest/jqm-datebox.core.min.js"></script>
		<script type="text/javascript" src="http://dev.jtsage.com/cdn/datebox/latest/jqm-datebox.mode.calbox.min.js"></script>
		<script type="text/javascript" src="http://dev.jtsage.com/cdn/datebox/i18n/jquery.mobile.datebox.i18n.en_US.utf8.js"></script>
    </head>
    <body>
          {echo $template}
    </body>
</html>