#countdown_dashboard {
	height: 50px;
}

.dash {
	width: 65px;
	height: 12px;
	background: transparent url('../images/dash_s.png') 0 0 no-repeat;
	float: left;
	margin-left: 1px;
	padding-left: 4px;
	padding-bottom:40px;
	position: relative;
	color: #000;
}

.weeks_dash {
	background: transparent url('../images/dark_weeks_dash_s.png') 0 0 no-repeat;
}

.days_dash {
	background: transparent url('../images/dark_days_dash_s.png') 0 0 no-repeat;
}

.hours_dash {
	background: transparent url('../images/dark_hours_dash_s.png') 0 0 no-repeat;
}

.minutes_dash {
	background: transparent url('../images/dark_minutes_dash_s.png') 0 0 no-repeat;
}

.seconds_dash {
	background: transparent url('../images/dark_seconds_dash_s.png') 0 0 no-repeat;
}

.dash .digit {
	font: bold 28pt Verdana;
	margin-left:3px;
	font-weight: bold;
	float: left;
	width: 28px;
	text-align: center;
	position: relative;
}

.dash_title {
	display: none;
}