.groeplogo{
	height:150px;
	margin-top:3px;
	margin-right:350px;
	float:right;
	position:relative;
}

#acttitle{
	display:block;
	font-size:20px;
	line-height:1.2em;
	color:#e7e7e7;
	margin-bottom:17px;
	letter-spacing:-1px;
	padding-top:20px;
}

#leiders th{
	text-align:center;
	width: 30%;
	font-family:Arial, Helvetica, sans-serif; 
	border:1px solid #000;
	background:#0d0d0d;
	box-shadow: 0px 0px 0px 1px #2b2b2b;
	-moz-box-shadow: 0px 0px 0px 1px #2b2b2b;
	-webkit-box-shadow: 0px 0px 0px 1px #2b2b2b;
}

#leiders td{
	padding-right:15px;
	font-family:Arial, Helvetica, sans-serif; 
	border:1px solid #000; 
	background:#0d0d0d;
	box-shadow: 0px 0px 0px 1px #2b2b2b;
	-moz-box-shadow: 0px 0px 0px 1px #2b2b2b;
	-webkit-box-shadow: 0px 0px 0px 1px #2b2b2b;
	padding:1px 10px;
}

.leider h3{
	padding-top:40px;
	font-size:15px;
	text-align:left;
}

.leider img{
	width:72px;
	overflow:hidden;
	border-radius:12px;
	float:left;
	margin:5px;
	position:relative;
}

#activiteiten {
	float:left;
	width:530px;
	border:1px solid #0d0d0d;
	background-color:#0d0d0d;
	border-radius:12px;
	padding:15px 5px 5px 5px;
	box-shadow: 0px 0px 0px 1px #2b2b2b;
	-moz-box-shadow: 0px 0px 0px 1px #2b2b2b;
	-webkit-box-shadow: 0px 0px 0px 1px #2b2b2b;
    min-height: 290px;
}

.loading{
    background: url("../images/ajax-loader.gif") no-repeat center;
}

#activiteiten .panel h2{
	margin-top:13px;
	left:150px;
}