<div class="container view-container" ng-controller="EventCreateCtrl">
	<form class="form-horizontal">
		<div class="control-group">
			<label for="eventName" class="control-label">Naam</label>
			<div class="controls">
				<input type="text" id="eventName" ng-model="event.name" class="form-control"/>
			</div>
		</div>
		<div class="control-group">
			<label for="eventStart" class="control-label">Startdatum</label>
			<div class="controls">
                <input type="text" id="eventStart" ng-init="localScopeDateStart = event.start" ng-model="localScopeDateStart" mo-change-proxy="event.start" mo-date-input="{{dateFormat}}" class="datepicker"/>
			</div>
		</div>
		<div class="control-group">
			<label for="eventEnd" class="control-label">Einddatum</label>
			<div class="controls">
				<input type="text" id="eventEnd" ng-init="localScopeDate = event.end" ng-model="localScopeDate" mo-change-proxy="event.end" mo-date-input="{{dateFormat}}" class="datepicker"/>
			</div>
		</div>
        <div class="control-group">
            <label for="description" class="control-label">Beschrijving</label>
            <div class="controls">
                <textarea id="description" rows="3" ng-model="event.description"></textarea>
            </div>
        </div>
        <div class="control-group">
            <label for="eventtype" class="control-label">Type evenement</label>
            <select id="eventtype" ng-model="event.eventtype">
                <option value="1">Chirojaren</option>
                <option value="2">Kampen</option>
                <option value="3">Feest</option>
                <option value="4">Andere</option>
            </select>
        </div>
        <button ng-click="create()" class="btn btn-block btn-primary" type="button" style="margin-bottom: 1em;">
            Opslaan
        </button>
	</form>
</div>