<div class="container-fluid">
	<div>
		<div >
			<!--Sidebar content-->
			<form role="form">
				<div class="form-group">
					<label>Evenementen:</label>
					<select ng-model="event" ng-options="e.id as e.name for e in events" ng-change="changeEvent()"></select>
				</div>
				<div class="">
					<label>Aantal rijen: </label>
					<input type="rows" ng-model="rows" ng-change="newNumberRows()"/>
				</div>
				<div class="pageSelect">
					<div ng-click="page=1">First</div>
					<div ng-click="decreasePage()">Previous</div>
					<div ng-click="incrementPage()">Next</div>
					<div ng-click="page=maxPage">Last</div>
				</div>
			</form>
		</div>
		<div>
			<!--Body content-->

			<table class="photos">
				<tr ng-repeat="photoRow in photos | pagination:page:rows">
					<td ng-repeat="photo in photoRow">
						<img ng-class="{active: photo.active==1, inactive: photo.active==0}" ng-src="{{staticServer + '/thumbs' + photo.directory}}" title="{{photo.title}}" style="height:100px;width:auto;"/>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>