body {
  font-size: 14px;
  color: white;
}

h2{
  color:white;
}

header,section{
  background-color: $background-red;
}

.navbar,.footer-above{
  background-color: $header-blue;
}

hr.star-primary{
  border-color: white;
  &:after{
    color: white;
    background-color: $background-red;
  }
}



//LEGACY CODE STARTS HERE

.pagewrapper {
  background-color: white;
}

.event-slider {
  .calendar {
    margin-bottom: 1em;
  }
}

.calendar {
  .panel {
    width: 640px;
    margin: auto;
    border-radius: 0;
    .nav {
      width: 50px;
      padding-top: 1em;
      i {
        cursor: pointer;
      }
      &.nav-right {
        position: absolute;
        right: 124px;
        top: 92px;
      }
      &.nav-left {
        position: absolute;
        left: 124px;
        top: 92px;
      }
    }
    .wrapper {
      .date {
        color: black;
      }
    }
    border: none;
  }
}

.capacity {
  text-align: center;
  table {
    margin: auto;
  }
}

.photoslider {
  margin-top: 2em;
}

footer {
  h3 {
    color: white;
  }
}

