.pagewrapper {
  background-color: white;
}

.picture{
  margin-top: 1em;
}

.calendar {
  .panel {
    width: 75%;
    margin: auto;
    .nav {
      width: 50px;
      padding-top: 1em;
      i{
        cursor: pointer;
      }
      &.nav-right{
        position: absolute;
        right: 124px;
        top: 92px;
      }
      &.nav-left{
        position: absolute;
        left: 124px;
        top: 92px;
      }
    }
    .wrapper {
      .date {
        color: black;
      }
    }
    border: none;
  }
}

.capacity{
  text-align:center;
  table{
    margin: auto;
  }
}

.photoslider{
  margin-top: 2em;
}

footer{
  h3{
    color: white;
  }
}

