<div class="fluid-container view-container">
    <div class="row-fluid">
        <div class="span2"></div>
        <div class="span10">
            <form class="user-detail" ng-submit="saveUser()" name="userform">
                <h2>Contactgegevens</h2>
                <ul class="nav nav-list">
                    <li class="divider"></li>
                </ul>
                <fieldset>
                    <label class="control-label" for="firstName">Voornaam</label>
                    <input type="text" id="firstName" name="firstName" ng-model="user.first" required placeholder="Voornaam"/>
                    <label class="control-label" for="lastName">Achternaam</label>
                    <input type="text" id="lastName" ng-model="user.last" required placeholder="Achternaam"/>
                    <label class="control-label" for="email">E-mail adres</label>
                    <input type="email" id="email" ng-model="user.email" required placeholder="naam@email.com"/>
                    <div class="control-group">
                        <label for="birthDate" class="control-label">Geboortedatum</label>

                        <div class="input-append" ng-model="user.birthDate" birthday-input
                             ng-change="checkNewmembership()">
                            <input data-format="dd/MM/yyyy" type="text" id="birthDate" name="birthDate"
                                   ng-model="user.birthDate" placeholder="dd/MM/yyyy"/>
                                  <span class="add-on">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                  </span>
                        </div>
                    </div>
                    <label class="control-label" for="phone">Telefoonnummer</label>
                    <input type="tel" id="phone" ng-model="user.phone" placeholder="000 00 00 00"/>
                    <label class="control-label" for="mobilePhone">GSM-nummer</label>
                    <input type="tel" id="mobilePhone" ng-model="user.mobilePhone" placeholder="0000 00 00 00"/>
                </fieldset>

                <h2>Adres</h2>
                <ul class="nav nav-list">
                    <li class="divider"></li>
                </ul>
                <fieldset>
                    <input type="text" id="address" ng-autocomplete="user.address" ng-model="user.address" details="user.addressDetails" options="{country:'be', watchEnter: true}" class="span12" placeholder="Geef uw adres op" autocomplete="on"/>
                    <div style="float:right;">
                        <div id="map_canvas" ui-map="model.myMap" style="width: 430px;height: 230px;" ui-options="mapOptions">
                        </div>
                        <div ng-repeat="marker in myMarkers" ui-map-marker="myMarkers[$index]">
                        </div>
                    </div>
                    <label class="control-label" for="street">Straat</label>
                    <input type="text" id="street" ng-model="user.street" disabled/>
                    <label class="control-label" for="housenumber">Nummer</label>
                    <input type="text" id="housenumber" ng-model="user.houseNumber" disabled/>
                    <!--<label class="control-label" for="postalbox">Bus</label>-->
                    <!--<input type="text" id="postalbox" ng-model="user.postalBox" disabled/>-->
                    <label class="control-label" for="postalcode">Postcode</label>
                    <input type="text" id="postalcode" ng-model="user.postalCode" disabled/>
                    <label class="control-label" for="city">Stad</label>
                    <input type="text" id="city" ng-model="user.city" disabled/>
                </fieldset>

                <h2>Chiro carrière</h2>
                <ul class="nav nav-list">
                    <li class="divider"></li>
                </ul>
                <fieldset>
                    <div class="well span12" ng-repeat="membership in user.memberships" style="margin-left:0px;">
                        <div class="control-group span4">
                            <p class="">Chirogroep</p>
                            <select id="chiroGroup" class="span10" ng-change="checkNewmembership()"
                                    ng-model="membership.groupid" ng-options="opt.id as opt.name for opt in groups">
                            </select>
                        </div>
                        <div class="control-group span4">
                            <label for="birthDate" class="control-label">Van...</label>

                            <div class="input-append span10" ng-model="membership.from" month-year-input
                                 ng-change="checkNewmembership()">
                                <input data-format="MM/yyyy" type="text" id="chiroFrom" name="chiroFrom" class="span10"
                                       ng-model="membership.from"/>
                                  <span class="add-on">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                  </span>
                            </div>
                        </div>
                        <div class="control-group span4">
                            <label for="birthDate" class="control-label">Tot...</label>

                            <div id="date" class="input-append span10" ng-model="membership.to" month-year-input
                                 ng-change="checkNewmembership()">
                                <input data-format="MM/yyyy" type="text" id="chiroTo" name="chiroTo" class="span10"
                                       ng-model="membership.to"/>
                                  <span class="add-on">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                  </span>
                            </div>
                        </div>
                        <button  type="button" ng-click="removeMemberhsip(membership,$index)" class="btn btn-danger" style="float:right;border-radius: 15px;margin-right: -10px;margin-top: -80px;">
                            <i class="glyphicon glyphicon-remove"></i>
                        </button>
                        <div id="chiroEvents" ng-show="membership.milestones.length>0">
                            <table class="table">
                                <tr>
                                    <th class="span4">Was je hier aanwezig?</th>
                                    <th class="span8">Extra info (optioneel) <span popover="Alle extra informatie en/of anekdotes dat u hier kan neerschrijven zijn handig om ons archief uit te bouwen" popover-trigger="mouseenter" class="glyphicon icon-question-sign" ng-mouseover/></th>
                                </tr>
                                <tr ng-repeat="milestone in membership.milestones">
                                    <td class="span4">
                                        <label class="checkbox"><input type="checkbox" ng-model="milestone.wasPresent">{{milestone.name}}</label>
                                        <div class="milestoneDate">({{milestone.start | date:'dd/MM/yyyy'}} - {{milestone.end | date:'dd/MM/yyyy'}})</div>
                                    </td>
                                    <td class="span8">
                                        <textarea ng-model="milestone.remarks" rows="2" cols="20" style="width:100%"></textarea>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <button  type="button" ng-click="addNewMembership()" class="btn btn-primary" type="button"
                            style="margin-bottom: 1em;float:right;">
                        Nieuwe chirogroep
                    </button>
                </fieldset>

                <h2>60 jaar Chiro Elzestraat</h2>
                <ul class="nav nav-list">
                    <li class="divider"></li>
                </ul>
                <fieldset>
                    <label class="checkbox">
                        <input type="checkbox" ng-model="user.presentOnReunion">
                        Ik zal aanwezig zijn op de zondagmiddag 14/09
                    <span popover="Van vrijdag 12 tot en met 14 september organiseren we met Chiro Elzestraat het 60-jarig bestaan van onze jeugdbeweging.  Op zondag 14 september vanaf 10 uur 's morgens maken we dit officiëel door alle oud-leider/leden in de bloemetjes te zetten.  Om een overzicht te krijgen van alle aanwezigen vragen we op voorhand te registreren.  Dat kan door deze optie aan te vinken." popover-trigger="mouseenter" class="glyphicon icon-question-sign" ng-mouseover/></label>
                    <label class="checkbox">
                        <input type="checkbox" ng-model="user.isPhotoBookCandidate">
                        Ik ben geïnteresseerd in het "60 jaar chiro Elzestraat" fotoboek
                        <span popover="Afhankelijk van het aantal geïnteresseerden zullen we een fotoboek samenstellen die onze rijke chiro-geschiedenis in beeld brengt.  De kostprijs zal afhankelijk zijn van het aantal bestellingen.  Door deze optie aan te duiden laat u uw interesse voor dit fotoboek blijken,  dit is echter geen officiele bestelling." popover-trigger="mouseenter" class="glyphicon icon-question-sign" ng-mouseover/></label>
                </fieldset>

                <ul class="nav nav-list">
                    <li class="divider"></li>
                </ul>

                <fieldset>
                    <div class="alert alert-success" ng-show="showSuccessSubmit">
                        <strong>Klaar!</strong> U bent met succes geregistreerd.
                    </div>
                    <div class="alert alert-error" ng-show="showSuccessFailure">
                        <strong>Error!</strong> Er is iets misgegaan,  probeer het later opniew.
                    </div>
                    <input type="submit" class="btn btn-block btn-primary"
                           style="margin-bottom: 1em;">
                    </input>
                    <button type="button" ng-click="removeUser()" class="btn btn-block btn-danger" type="button">
                        Verwijderen
                    </button>
                </fieldset>
            </form>
        </div>
    </div>
</div>