<div class="container view-container">
    <form class="form-search user-search">
        <fieldset>
            <input type="text" class="input-medium search-query">
            <button type="submit" class="btn">Zoeken</button>
            <a class="btn add-button" ng-click="createUser()">
                <div class="glyphicon glyphicon-plus-sign"></div>
            </a>
        </fieldset>
    </form>
    <table class="table table-hover users">
        <tr ng-click="editUser(user.id)" ng-repeat="user in users" class="user">
            <td></td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
        </tr>
    </table>
</div>