<h1>GROEPNAAM</h1>

<div>
    <p>Informatie</p>
    <table>
        <tr>
            <td>Leeftijd</td>
            <td>MINJAAR jaar t.e.m. MAXJAAR jaar</td>
        </tr>
        <tr>
            <td>Chiro van</td>
            <td>14u t.e.m. EINDUUR</td>
        </tr>
    </table>
</div>

<div class="gridbox">
    <h2>Leiding</h2>
    <table id="leiders" width="100%" cellspacing="15">
        <tr>
            <th>LEIDER VOORNAAM ACHTERNAAM</th>
        </tr>
        <tr>
            <td class="leider">
                <!--<img n-src="LEIDERAFBEELDIN" alt="Leider"/>-->
                Geboortedatum: LEIDERGBDTM
                <br/>
                Leeftijd: LEIDERFEEFTIJD
                <br/>
                <h3>Contactgegevens</h3>
                STRAAT NUMMER<br/>
                POSTCODE STAD<br/>
                gsm: GSM<br/>
                EMAIL<br/>
            </td>
        </tr>
    </table>
</div>

<div id="activiteiten" class="gridbox left" ng-controller="GeneralCalendarController">
    <h2>Opkomende activiteiten</h2>

    <div class="slider-wrap">
        <div id="slider1" class="csw">
            <div class="panelContainer">
                <div class="panel" ng-repeat="event in calendar.events">
                    <div class="wrapper">
                        <h2>{{event.summary}}</h2>
                        <img class="left png" ng-src="images/{{group}}.png" alt="logo"/>

                        <p class="description">{{event.description}}</p><br/>
                        <span style="top:130px;" id="start" class="date">
                            Van: {{event.start.dateTime | date : 'dd/M/yyyy H:mm' }}
                        </span>
                        <br/>
                        <span style="top:145px;" id="end" class="date">
                            Tot: {{event.end.dateTime | date : 'dd/M/yyyy H:mm' }}
                        </span>
                        <p class="slider_links"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>