<section class="home">
    <div class="col-lg-4">
        <h2>Nieuws</h2>

        <div id="tweets"></div>
    </div>

    <div class="row col-lg-8">

        <div class="col-lg-12" event-slider data-ids="{{calendarIds}}"/>

        <div class="col-lg-12">
            <h2>In de Kijker</h2>
            <!-- Zet hier altijd dezelfde foto van grootte: 518 breed 250 hoog, in jpg formaat-->
            <strong style="width:518px; height:250px; padding-top:5px; padding-left:6px;">
                <img src="uploads/banner kamp 2014.jpg" alt="In de kijker"/>
            </strong>
        </div>
    </div>
</section>
