<div id="removeMembershipModal" class="container-fluid center-block" tabindex="-1" role="dialog">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()">×</button>
            <h3>Opgelet</h3>
        </div>
        <div class="modal-body">
            <p>Bent u zeker dat u deze chirogroep ({{group.name}} van {{membership.from}} tot {{membership.to}}) wil verwijderen?</p>
        </div>
        <div class="modal-footer">
            <button class="btn" ng-click="close()">Sluiten</button>
            <button class="btn btn-danger" ng-click="removeMembership(membership)">Verwijderen</button>
        </div>
    </div>
</div>