.pagewrapper {
  background-color: white;
}

.tweet {
  margin: 1em 0;
  .media-body {
    text-align: left;
  }
}

.picture{
  margin-top: 1em;
}

.calendar {
  .panel {
    width: 75%;
    margin: auto;
    .nav {
      width: 50px;
    }
    .wrapper {
      .date {
        color: black;
      }
    }
    border: none;
  }
}

.capacity{
  text-align:center;
  table{
    margin: auto;
  }
}

.photoslider{
  margin-top: 2em;
}

footer{
  h3{
    color: white;
  }
}

