<div data-role="header">
    <h1>Archief - Events</h1>
    <a href="index.html" data-icon="add" class="ui-btn-right">Add</a>
</div><!-- /header -->
	 
 <div data-role="content">
	<ul data-role="listview" data-inset="true">
	{foreach $_event in $events}
	    <li>
	    	<a href="/register.html">
		        <h1>{echo $_event->name}</h1>
		        <strong class="startDate">{echo $_event->start}</strong>
		        <strong class="endDate">{echo $_event->end}</strong>
	        </a>
	    </li>
	{/foreach}
	</ul>
</div>