<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Chirojongens Elzestraat</title>
    <link href="images/favicon.ico" rel="shortcut icon"/>

    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="bower_components/startbootstrap-freelancer-1.0.3/css/freelancer.css" rel="stylesheet"/>

    <link href="css/stylesheet.css" rel="stylesheet"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-controller="HomeController">
<div class="pagewrapper container-fluid" id="page-top" >
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">Chirojongens Elzestraat</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="page-scroll"><a href='#groups'>Groepen</a></li>
                    <li class="page-scroll"><a href='#photos'>Foto's</a></li>
                    <li class="page-scroll"><a href='#verhuur'>Verhuur</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div twitter-feed></div>
                </div>

                <div class="row col-lg-8">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2>In de Kijker</h2>
                            <!-- Zet hier altijd dezelfde foto van grootte: 518 breed 250 hoog, in jpg formaat-->
                            <strong class="image">
                                <img src="uploads/banner kamp 2014.jpg" alt="In de kijker"/>
                            </strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12" event-slider data-ids="{{calendarIds}}"/>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="groups">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Groepen</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#speelclub" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="images/speelclub.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#rakkers" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="images/rakkers.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#toppers" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="images/toppers.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#kerels" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="images/kerels.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#aspis" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="images/aspiranten.png" class="img-responsive" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="photos">
        <h2>Foto's</h2>
    </section>

    <section id="verhuur">
        <h2>Verhuur Lokalen</h2>
        <div class="container">
            <div class="row">
                <div class="general-info col-lg-6">
                    <h4>Capaciteit</h4>
                    Maximum 40 personen
                    <h4>Prijs</h4>
                    De vaste kosten zijn vastgelegd op 125 EURO tot 20 personen. Vanaf 21 personen tot maximaal 40
                    personen bedragen de vaste kosten 200 euro. Het verbruik van gas en elektriciteit wordt berekend
                    door middel van de meterstanden.
                    Het contract vindt u <a href="uploads/Huurcontract Chirojongens Elzestraat.pdf">hier</a>.
                    <h4>Waarborg</h4>
                    De waarborg van 150 euro wordt ten laatste twee weken op voorhand betaald op rekeningnummer BE16 3631 3876 1974
                    Indien de huurder het weekend annuleert tot een termijn van 1 week op voorhand, wordt de waarborg
                    teruggestort aan de huurder. Gebeurt de opzegging later dan wordt de waarborg niet teruggestort.
                    <h4>Infrastructuur</h4>
                    <ul>
                        <li>1 groot heem</li>
                        <li>4 kleine hemen</li>
                        <li>volledig uitgeruste keuken (bestek, borden en kookpotten e.d.)</li>
                        <li>GEEN bedden</li>
                        <li>sanitair vermogen &amp; douche</li>
                    </ul>
                    <h4>Omgeving</h4>
                    <ul>
                        <li>Zwembad</li>
                        <li>Park, basketpleintje</li>
                        <li>Jeugdhuis</li>
                        <li>Bakker, frietkot, kruidenier</li>
                        <li>Colruyt (5 minuten met wagen)</li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="capacity col-lg-12">
                            <div>
                                <h4>Beschikbaarheid Lokalen</h4>
                                <datepicker ng-model="dt" min-date="hire.minDate" show-weeks="false" custom-class="getDayClass(date, mode)"></datepicker>
                            </div>
                        </div>
                        <div class="photoslider col-lg-12">
                            <div ng-controller="CarouselDemoCtrl">
                                <div style="height: 305px">
                                    <carousel interval="myInterval">
                                        <slide ng-repeat="slide in slides" active="slide.active">
                                            <img ng-src="{{slide.image}}" style="margin:auto;">
                                            <div class="carousel-caption">
                                                <h4>Slide {{$index}}</h4>
                                                <p>{{slide.text}}</p>
                                            </div>
                                        </slide>
                                    </carousel>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div ng-repeat="group in groups">
    <div class="portfolio-modal modal fade" id="{{group}}" tabindex="-1" role="dialog" aria-hidden="true" >
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{group.name}}</h2>
                            <hr class="star-primary">
                            <p><div class="col-lg-12" event-slider data-id="{{calendarIds[group.calendarId]}}"/></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>Locatie</h3>

                    <p>Clemenceaustraat 111 (achter de kerk)<br>2860 Sint-Katelijne-Waver</p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Social media</h3>
                    <ul class="list-inline">
                        <a href="https://www.facebook.com/pages/Chirojongens-Elzestraat/234251636629703" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/ChiroElzestraat/" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="mailto:info@chiroelzestraat.be" class="btn-social btn-outline"><i
                                    class="fa fa-fw fa-envelope-o"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Chirojongens Elzestraat</h3>

                    <p>Elke zondag tussen 14u en 17u</p>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="footer-below">-->
    <!--Copyright &copy; <?php echo date('Y'); ?>-->
    <!--</div>-->
</footer>

<script>
    var bootstrapped = false;
    var googleOnLoadCallback = function() {
//        if(!bootstrapped){
//            bootstrapped=true;
            console.log("Angular bootstrap started");
            var apisToLoad = 1; // must match number of calls to gapi.client.load()
            var gCallback = function () {
                if (--apisToLoad == 0) {
                    if(!bootstrapped){
                        bootstrapped=true;
                        //Manual bootstraping of the application
                        angular.bootstrap(document, ['app']);
                        console.log('Angular bootstrap complete ' + gapi);
                    }
                };
            };
            gapi.client.setApiKey('AIzaSyAX3IvXqPNa_J3eUPubZAWKR_85fPGkeac');
            gapi.client.load('calendar', 'v3', gCallback);
//        }
    };
</script>
<script type="text/javascript" src="https://apis.google.com/js/client.js?onload=googleOnLoadCallback"></script>
<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="js/lib/ui-bootstrap/ui-bootstrap-custom-tpls-0.13.0.min.js"></script>

<script type="text/javascript" src="js/lib/jquery-easing/jquery.easing.min.js"></script>
<script type="text/javascript" src="bower_components/startbootstrap-freelancer-1.0.3/js/classie.js"></script>
<script type="text/javascript" src="bower_components/startbootstrap-freelancer-1.0.3/js/cbpAnimatedHeader.js"></script>
<script type="text/javascript" src="bower_components/startbootstrap-freelancer-1.0.3/js/freelancer.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/controllers/home.js"></script>
<script type="text/javascript" src="js/controllers/carousel.js"></script>
<script type="text/javascript" src="js/services/calendar.js"></script>
<script type="text/javascript" src="js/services/twitterservice.js"></script>
<script type="text/javascript" src="js/directives/eventSlider.js"></script>
<script type="text/javascript" src="js/directives/twitterfeed.js"></script>

<script type="text/javascript" src="js/lib/moment-js/momentjs.min.js"></script>
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-30791822-1']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

</script>
</body>
</html>
