<div class="calendar" ng-if="calendar.events.length>0">
    <h2>Opkomende activiteiten</h2>

    <div class="panel" ng-repeat="event in calendar.events">
        <div class="eventWrapper" ng-show="$index==calendar.currentEvent">
            <div class="nav nav-left pull-left" ng-if="$index>0"><a ng-click="prevEvent()"><i
                    class="fa fa-chevron-circle-left fa-2x"></i></a></div>
            <div class="nav nav-right pull-right" ng-if="$index<calendar.events.length-1"><a ng-click="nextEvent()"><i
                    class="fa fa-chevron-circle-right fa-2x"></i></a></div>
            <div class="wrapper">
                <h3>{{event.organizer.displayName}} : {{event.summary}}</h3>
                <img class="left png" ng-src="{{event.image}}" alt="logo" ng-if="event.image"/>


                <div class="description">{{event.description}}

                <div class="event__location">
                    <span ng-if="event.location">{{event.location}}</span>
                </div>

                </div>

                <div class="event__date-info">
                    <span class="date" ng-if="event.start.date">{{event.start.date.value | date : 'dd/MM/yyyy'}}</span>
                    <span class="date time" ng-if="event.start.dateTime">Van: {{event.start.dateTime.value | date : 'dd/MM/yyyy HH:mm'}}</span>
                    <span class="date time" ng-if="event.start.dateTime">Tot: {{event.end.dateTime.value | date : 'dd/MM/yyyy HH:mm'}}</span>
                </div>
            </div>
        </div>
    </div>
</div>