<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h2>Nieuws</h2>
                <div class="social-feed-container"></div>
            </div>

            <div class="row col-lg-8 event-slider">
                <div class="row">
                    <div class="col-lg-12" event-slider />
                </div>
                <div class="row picture" ng-if="latestPicture != null">
                    <div class="col-lg-12">
                        <h2>In de Kijker</h2>
                        <strong class="image">
                            <img ng-src="{{latestPicture}}+"&width=640&height=480"" alt="In de kijker"/>
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
