body {
	font-size: 80%;
    color: white;
    background: black;
    font-family: Verdana, Arial, Helvetica, Lucida, sans-serif;
    margin: 0px;
    padding: 0px;
    overflow: auto;
}

table {
    border-width: 0;
    margin: auto;
}

.title {
    color: white;
    background-color: inherit;
    font-size: 165%;
    font-weight: bold;
}

.caption {    
    text-align: left;
    margin: auto;
}

.ctrllinks {
    font-size: 80%;
}

.footer {
    font-size: 80%;
    color: gray;
    background-color: inherit;
    text-align: right;
    margin-top: .5em;
}

img.small {
    border: 1px solid black;
    margin: 2px;
    padding: 0px;
    display: block;
}

img.medium {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#mediumpaper {
    color: inherit;
    background: #191919;
    border-style: solid;
    border-color: #191919;
    border-left-width: 15px;
    border-right-width: 15px;
    border-top-width: 8px;
    border-bottom-width: 14px;
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
}

#smallpaper {
    color: inherit;
    background: #191919;
    text-align: center;
    font-size: 80%;
    padding: 0px;
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: white;
    background-color: inherit;
    text-decoration: underline;
}

a.control {
    color: gray;
    background-color: inherit;
}

a:hover {
    color: white;
    background-color: inherit;
}

#mainlayer {
    visibility: visible;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    color: inherit;
    background: inherit;
}

#lightboxlayer {
    visibility: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    color: inherit;
    background: black;
    z-index: 3;
    overflow: auto;
}

#lightboxcontainer {
    margin-top: 20px;
    margin-left:10px;
    margin-right:10px;
}

#smalliframe {
    position: absolute;
    visibility: hidden;
    z-index: 2;
}

#mediumiframe {
    position: absolute;
    visibility: hidden;
    z-index: 1;
}