<div class="header">
    <h3 class="text-muted">Rommelmarkt 17/05/2014 - Sponsering</h3>
    <a href="#/sponsor/-1">Toevoegen</a>
</div>

<table class="sponsors table table-striped table-hover">
    <thead>
        <th>Logo</th>
        <th>Naam</th>
        <th>Bedrag</th>
        <th>Dimensie</th>
        <th>Wijze van sponsering</th>
    </thead>
    <tbody>
        <tr ng-repeat="sponsor in sponsors" class="sponsor" ng-click="showSponsor(sponsor.id)">
            <td><img class="media-object" style="width: 100px;" ng-src="{{staticServer + sponsor.logo}}"></td>
            <td>{{sponsor.name}}</td>
            <td>{{sponsor.amount}}</td>
            <td>{{sponsor.dimension}}</td>
            <td>{{sponsor.object}}</td>
        </tr>
    </tbody>
</table>

<div class="footer">
    <p>Chiro Elzestraat</p>
</div>
