<div class="header">
  <h3 class="text-muted">Rommelmarkt 17/05/2014 - Sponsering</h3>
  <a href="#/sponsor">Toevoegen</a>
</div>

<ul class="sponsors">
    <li ng-repeat="sponsor in sponsors" class="sponsor media">
        <a class="pull-left" href="{{sponsor.logo}}">
            <img class="media-object" style="width: 100px; height: 100px;">
        </a>
        <div class="media-body">
            <h4 class="media-heading">{{sponsor.name}}</h4>
            <p>
                {{sponsor.amount}}
                {{sponsor.dimension}}
            </p>
        </div>
    </li>
</ul>

<div class="footer">
  <p>Chiro Elzestraat</p>
</div>
