<div class="header">
    <h3 class="text-muted">Rommelmarkt 17/05/2014 - Sponsering</h3>
    <a href="#">Terug</a>
</div>

<div class="sponsor-container">
    <!-- SHOW ERROR/SUCCESS MESSAGES -->
    <div id="messages" ng-show="message">{{ message }}</div>
    <form role="form" ng-submit="submitSponsor()">
        <div class="form-group">
            <label for="sponsorName">Naam</label>
            <input type="text" class="form-control" name="sponsorName" id="sponsorName" placeholder="Sponsornaam" ng-model="sponsor.name">
        </div>

        <label>Bedrag</label>
        <div class="radio">
            <label>
                <input type="radio" name="sponsorAmount" id="sponsorAmount50" value="50" ng-model="sponsor.amount" checked>
                € 50
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="sponsorAmount" id="sponsorAmount100" value="100" ng-model="sponsor.amount">
                € 100
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="sponsorAmount" id="sponsorAmount0" value="0" ng-model="sponsor.amount">
                Andere
            </label>
        </div>
        <div class="form-group" ng-show="sponsor.amount==0">
            <label for="sponsorObject">Wijze van sponsering</label>
            <input type="text" class="form-control" name="sponsorObject" id="sponsorObject" placeholder="Wijze van sponsering" ng-model="sponsor.object">
        </div>
        <!--TODO if amount==50 => set dimension=1 && disable sponsorDimension-->
        <label>Dimensie</label>
        <div class="radio">
            <label>
                <input type="radio" name="sponsorDimension" id="sponsorDimension1" value="1" ng-model="sponsor.dimension" checked ng-model="sponsor.dimension">
                4 cm x 4 cm
            </label>
        </div>
        <!--TODO if amount==100 => set dimension=2 && disable sponsorDimension-->
        <div class="radio">
            <label>
                <input type="radio" name="sponsorDimension" id="sponsorDimension2" value="2" ng-model="sponsor.dimension" ng-model="sponsor.dimension">
                4 cm x 8 cm
            </label>
        </div>
        <img ng-show="sponsor.logo" ng-src="{{staticServer + sponsor.logo}}" />
        <div class="form-group">
            <label for="sponsorLogo">Logo</label>
            <input type="file" name="sponsorLogo" id="sponsorLogo" ng-file-select="onFileSelect($files)">
        </div>
        <div ng-hide="sponsor.logo" class="logo-preview">
            <i ng-hide="imageSrc">Nog geen logo gekozen...</i>
            <img ng-src="{{imageSrc}}" /> <br/>
            <!--<b>Progress:</b>-->
            <!--<progress value="{{progress}}"></progress>-->
        </div>
        <button type="submit" class="btn btn-default">Bewaren</button>
        <button class="btn btn-default" ng-click="removeSponsor()">Verwijderen</button>
    </form>
</div>


<div class="footer">
    <p>Chiro Elzestraat</p>
</div>
